.catalog__item-img {
  border: 1px solid #9b0000;
  display: block;
  width: auto;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
}

.catalog__item-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.catalog__item-title {
  text-align: center;
}

.catalog__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 15px;
  column-gap: 20px;
}

.main-page__container {
  padding: 20px;
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: 20px;
}

.profile-page__container {
  padding: 20px;
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 20px;
}

.sidebar__inner {
  max-height: max-content;
  position: sticky;
  top: 90px;
}

.sidebar__list {
  padding: 20px;
  border: 1px solid #9b0000;
  margin: 0;
}

.sidebar__list:not(:first-child) {
  margin-top: 20px;
}

.sidebar__item a {
  color: #212529;
}

.sidebar__item.active a {
  color: #9b0000;
  text-decoration: underline;
  text-decoration-color: #9b0000;
}